<div 
  [ngStyle]="{'overflow': loadView ? 'visible' : 'hidden'}"
  class="container-fluid h-100 g-0 p-0 m-0">
    <div class="row h-100 g-0 p-0 m-0">
      <div class="col-12">
        <app-header class="row g-0 p-2 m-0 justify-content-start"></app-header>
      </div>
      <app-spinner1 *ngIf="!loadView" [ngClass]="{'spinOp':startOp}" class="b-color position-absolute w-100 h-100"></app-spinner1>
      <div class="col-12 px-2 bg-warning">
        <router-outlet></router-outlet>
      </div>
      <div class="col-12 align-self-end">
        <app-footer class="row h-25 bg-success g-0 p-2 m-0"></app-footer>
      </div>
    </div>
</div>





